.social-media-div {
  font-size: 2em;
}

.icon-button i {
  color: white;
}
.icon-button {
  margin-bottom: 10px;
}

.icon-button i {
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.6rem;
  margin-bottom: 10px;
}

.linkedin i {
  background-color: #0e76a8;
  transition: all 0.2s ease-in-out;
}

.linkedin i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #0e76a8;
}

.github i {
  background-color: #333;
  transition: all 0.2s ease-in-out;
}

.github i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #333;
}

.gitlab i {
  background-color: #ffcc52;
  transition: all 0.2s ease-in-out;
}

.gitlab i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #333;
}

.google i {
  background-color: #ea4335;
  transition: all 0.2s ease-in-out;
}

.google i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #ea4335;
}

.discord i {
  background-color: #5865F2;
  transition: all 0.2s ease-in-out;
}

.discord i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #5865F2;
}

.instagram i {
  background-color: #e4405f;
  transition: all 0.2s ease-in-out;
}

.instagram i:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #e4405f;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}
